<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('components/header.ejs', { user: user }) %>

    <section id="movie-section">
      <% let counter = 0 %> <% movies.forEach(movie => { %> <% if (counter < 10)
      { %>
      <div class="movie-card" key="<%= movie.id %>">
        <img
          class="movie-card__image"
          src="<%= movie.imageurl %>"
          alt="<%= movie.title %> poster"
        />
        <div class="movie-card__info">
          <h2 class="movie-card__title"><%= movie.title %></h2>
          <p class="movie-card__imdb">IMDb Rating: <%= movie.imdbrating %></p>
          <a href="<%=host%>/movies/<%= movie.id %>"> </a>
          <button class="buy-movie-button" id="<%= movie.id %>">Buy</button>
        </div>
      </div>
      <% counter++ %> <% } %> <% }) %>
    </section>

    <div id="pagination">
      <% for (let i = 0; i * 10 < movies.length; i++) { %>
      <button class="pagination-button" id="<%=i%>"><%= i + 1 %></button>
      <% } %>
    </div>

    <%- include('components/footer.ejs')%>

    <script src="javascript.js"></script>
    <script></script>
  </body>
</html>
