<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div id="nav_logo">
          <h2>MovieTickets.com</h2>
        </div>
        <label for="drop" class="toggle">
          <img
            id="toggle_img"
            src="assets/menu-burger.png"
            alt="Header menu"
            width="24px"
          />
        </label>
        <input type="checkbox" id="drop" />
        <ul class="menu" id="header-menu">
          <li><a href="/">Home</a></li>
          <% if (user.username) { %>
          <li><a href="/user"><%= user.username %></a></li>
          <li><a href="/api/logout" id="logout-button">Logout</a></li>
          <% } else { %>
          <li><a href="/login" id="login-button">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <section id="movie-section">
      <% let counter = 0 %> <% movies.forEach(movie => { %> <% if (counter < 10)
      { %>
      <div class="movie-card" key="<%= movie.id %>">
        <img
          class="movie-card__image"
          src="<%= movie.imageurl %>"
          alt="<%= movie.title %> poster"
        />
        <div class="movie-card__info">
          <h2 class="movie-card__title"><%= movie.title %></h2>
          <p class="movie-card__imdb">IMDb Rating: <%= movie.imdbrating %></p>
          <a href="movies/<%= movie.id %>"> </a>
          <button class="buy-movie-button" id="<%= movie.id %>">Buy</button>
        </div>
      </div>
      <% counter++ %> <% } %> <% }) %>
    </section>

    <div id="pagination">
      <% for (let i = 0; i * 10 < movies.length; i++) { %>
      <button class="pagination-button" id="<%=i%>"><%= i + 1 %></button>
      <% } %>
    </div>
    <script src="javascript.js"></script>
    <script>
      const buyButtons = document.getElementsByClassName("buy-movie-button");
      const PageButtons = document.getElementsByClassName("pagination-button");

      for (let i = 0; i < buyButtons.length; i++) {
        buyButtons[i].addEventListener("click", (e) => {
          console.log(
            "🚀 ~ file: home.ejs:69 ~ buyButtons[i].addEventListener ~ e:",
            e
          );
          fetchMovieAvailability(e);
        });
      }

      for (let i = 0; i < PageButtons.length; i++) {
        PageButtons[i].addEventListener("click", (e) => {
          let id = e.target.id;
          fetch(`http://localhost:3001/api/movies`)
            .then((response) => response.json())
            .then(({ data }) => {
              createMovieCards(data, id);
            })
            .then(() => {
              const buyButtons =
                document.getElementsByClassName("buy-movie-button");
              for (let i = 0; i < buyButtons.length; i++) {
                buyButtons[i].addEventListener("click", (e) => {
                  console.log(
                    "🚀 ~ file: home.ejs:69 ~ buyButtons[i].addEventListener ~ e:",
                    e
                  );
                  fetchMovieAvailability(e);
                });
              }
            })
            .catch((err) => console.log(err));
        });
      }
    </script>
  </body>
</html>
