<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%=title %> - <%= data.title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('components/header.ejs', { user: user }) %>

    <section>
      <div id="movie-detail">
        <div>
          <img src="<%= data.imageurl %>" alt="<%= data.title %>" />
        </div>
        <div>
          <h3><%= data.title %></h3>
          <p><strong>Genre:</strong> <%= data.genre %></p>
          <p><strong>Released:</strong> <%= data.released %></p>
          <p><strong>IMDb ID:</strong> <%= data.imdbid %></p>
          <p><strong>IMDb Rating:</strong> <%= data.imdbrating %></p>
          <p><strong>Description:</strong> <%= data.synopsis %></p>
        </div>
      </div>
    </section>

    <%- include('components/footer.ejs')%>

    <script src="javascript.js"></script>
  </body>
</html>
