<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('components/header.ejs', { user: user }) %>

    <section id="user-info">
      <img src="./assets/user-icon.webp" alt="user photo" width="300" />

      <table>
        <tr>
          <th>User Info</th>
          <th></th>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <td>Username</td>
          <td><%= user.username %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= user.address %></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%= user.password %></td>
        </tr>
        <tr>
          <td>Credit Card</td>
          <td><%= user.credit_card %></td>
        </tr>
      </table>
    </section>

    <section id="movie-section">
      <% orders.forEach(order => { %>
      <div class="movie-card" key="<%= order.movie.id %>">
        <img
          class="movie-card__image"
          src="<%=order.movie.imageurl%>"
          alt="<%= order.movie.title %> poster"
        />
        <div class="movie-card__info">
          <h2 class="movie-card__title"><%= order.movie.title %></h2>
          <p>Date: <%= order.date %> <%= order.timeslot %></p>
          <a href="movies/<%= order.movie.id %>">
            <button class="buy-movie-button" id="<%= order.movie.id %>">
              Details
            </button>
          </a>
        </div>
      </div>
      <% }) %>
    </section>

    <%- include('components/footer.ejs')%>

    <script src="javascript.js"></script>
  </body>
</html>
