<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div id="nav_logo">
          <h2>MovieTickets.com</h2>
        </div>
        <label for="drop" class="toggle">
          <img
            id="toggle_img"
            src="assets/menu-burger.png"
            alt="Header menu"
            width="24px"
          />
        </label>
        <input type="checkbox" id="drop" />
        <ul class="menu" id="header-menu">
          <li><a href="/">Home</a></li>
          <% if (user.username) { %>
          <li><a href="/user"><%= user.username %></a></li>
          <li><a href="/api/logout" id="logout-button">Logout</a></li>
          <% } else { %>
          <li><a href="/login" id="login-button">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <h3>User Info</h3>
    <section id="user-info">
      <img src="./assets/user-icon.webp" alt="user photo" width="300" />

      <table>
        <tr>
          <th>User Info</th>
          <th></th>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <td>Username</td>
          <td><%= user.username %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= user.address %></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%= user.password %></td>
        </tr>
        <tr>
          <td>Credit Card</td>
          <td><%= user.credit_card %></td>
        </tr>
      </table>
    </section>

    <section id="movie-section">
      <% orders.forEach(order => { %>
      <div class="movie-card" key="<%= order.movie.id %>">
        <img
          class="movie-card__image"
          src="<%=order.movie.imageurl%>"
          alt="<%= order.movie.title %> poster"
        />
        <div class="movie-card__info">
          <h2 class="movie-card__title"><%= order.movie.title %></h2>
          <p>Date: <%= order.date %> <%= order.timeslot %></p>
          <a href="movies/<%= order.movie.id %>">
            <button class="buy-movie-button" id="<%= order.movie.id %>">
              Go
            </button>
          </a>
        </div>
      </div>
      <% }) %>
    </section>

    <script src="javascript.js"></script>
  </body>
</html>
